version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file: .env

  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/media

  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static
  gateway:
    build:
      context: ./nginx/
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/media
